* {
  box-sizing: border-box;
}

#displayData {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  align-items: center;
  justify-content: space-evenly;
}

#cards {
  margin-bottom: 20px;
  /* height: 420px; */
  display: flex;
  flex-direction: column;
}
